---
import Diamond from "@/components/icons/Diamond.astro"

const status = import.meta.env.PUBLIC_STATUS || 'OPENING SOON'
---

<section class='border-white/20 border-y'>
  <div class='text-black mx-auto'>
    <div class='mx-auto overflow-hidden overflow-x-hidden py-2 relative'>
      <div class='w-full justify-between grid'>
        <div
          class='absolute from-white/20 inset-0 left-0 w-44 z-10 bg-gradient-to-r'
        >
        </div>
        <div
          class='absolute from-white/20 inset-0 left-0 w-44 z-10 bg-gradient-to-l ml-auto'
        >
        </div>
      </div>
      <div
        class='flex items-center animate-marquee font-black font-display gap-4 relative tracking-widest whitespace-nowrap'
      >
        {status} <span class='hidden lg:inline'><Diamond /></span> {status} <span
          class='hidden lg:inline'><Diamond /></span
        > {status} <span class='hidden lg:inline'><Diamond /></span> {status} <span
          class='hidden lg:inline'><Diamond /></span
        > {status} <span class='hidden lg:inline'><Diamond /></span> {status} <span
          class='hidden lg:inline'><Diamond /></span
        > {status} <span class='hidden lg:inline'><Diamond /></span> {status} <span
          class='hidden lg:inline'><Diamond /></span
        > {status} <span class='hidden lg:inline'></span>
      </div>
    </div>
  </div>
</section>
